@page
@model MovieTheater.Pages.Showtimes.DeleteModel

@{
    ViewData["Title"] = "Showtime";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Suất chiếu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Showtime.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showtime.Movie.Cast)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Showtime.Theater)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showtime.Theater.Format)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Showtime.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại lịch chiếu</a>
    </form>
</div>
